nav{
	color: white;
	text-align: right;
}

.form-group{
	font-weight: bold;
}

.style{
	font-weight: bold;
}

.output{
	text-align: center;
	font-weight: bold;
	//float:left;
	display: inline-block;
	border-radius: 25px;
	padding: 15px;
	color: white;
}

.space{
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
	margin-right: 5px;
	margin-left: 5px;
}

.black_{background-color:#000000;}
.gray3{background-color:#080808;}
.gray6{background-color:#0F0F0F;}
.gray9{background-color:#171717;}
.gray12{background-color:#1F1F1F;}
.gray15{background-color:#262626;}
.gray18{background-color:#2E2E2E;}
.gray21{background-color:#363636;}
.gray24{background-color:#3D3D3D;}
.gray27{background-color:#454545;}
.gray30{background-color:#4D4D4D;}
._gray33_{background-color:#555555;}
.gray36{background-color:#5C5C5C;}
.gray39{background-color:#636363;}
.dimgray_{background-color:#696969;}
.gray44{background-color:#707070;}
.gray47{background-color:#787878;}
.gray_{background-color:#808080;}
.gray51{background-color:#828282;}
.gray54{background-color:#8A8A8A;}
.gray57{background-color:#919191;}
.gray60_{background-color:#999999;}
.gray63{background-color:#A1A1A1;}
.darkgray_{background-color:#A9A9A9;}
.gray67{background-color:#ABABAB;}
.gray69{background-color:#B0B0B0;}
.gray72{background-color:#B8B8B8;}
.silver_{background-color:#C0C0C0;}
.gray76{background-color:#C2C2C2;}
.gray79{background-color:#C9C9C9;}
.gray81{background-color:#CFCFCF;}
.lightgray_{background-color:#D3D3D3;}
.snow4{background-color:#8B8989;}
.rosybrown4{background-color:#8B6969;}
.rosybrown_{background-color:#BC8F8F;}
.sgisalmon{background-color:#C67171;}
.indianred3{background-color:#CD5555;}
.firebrick5{background-color:#8E2323;}
.orange{background-color:#CC3232;}
.firebrick4{background-color:#8B1A1A;}
.brownmadder{background-color:#DB2929;}
.indianred2{background-color:#EE6363;}
.darkcherryred_{background-color:#330000;}
.darkred_{background-color:#8B0000;}
.red_{background-color:#FF0000;}
.orangered4{background-color:#FF4040;}
.rosybrown1{background-color:#FFC1C1;}
.bing_cherry{background-color:#A02422;}
.watermelon_pulp{background-color:#F2473F;}
.mistyrose3{background-color:#CDB7B5;}
.gummi_red{background-color:#FC1501;}
.salmon_{background-color:#FA8072;}
.fuji_apple{background-color:#D66F62;}
.burntumber{background-color:#8A3324;}
.safety_cone{background-color:#FF5333;}
.coral4{background-color:#8B3E2F;}
.coral2{background-color:#EE6A50;}
.englishred{background-color:#D43D1A;}
.greenishumber{background-color:#FF3D0D;}
.chili_powder{background-color:#C73F17;}
.sandstone{background-color:#A78D84;}
.sepia{background-color:#5E2612;}
.orangered3{background-color:#CD3700;}
.coral_{background-color:#FF7F50;}
.light_salmon2{background-color:#EE9572;}
.lightsalmon_{background-color:#FFA07A;}
.sienna_{background-color:#A0522D;}
.sienna2{background-color:#EE7942;}
.sienna4{background-color:#8B4726;}
.chocolate_{background-color:#993300;}
.darktan{background-color:#97694F;}
.cadmiumorange{background-color:#FF6103;}
.oregon_salmon_{background-color:#FF7722;}
.deepochre{background-color:#733D1A;}
.peach_{background-color:#FF9955;}
.light_wood{background-color:#E9C2A6;}
.saddlebrown_{background-color:#8B4513;}
.seashell_{background-color:#FFF5EE;}
.coconut_shell{background-color:#BC7642;}
.rawsienna{background-color:#C76114;}
.tan_{background-color:#EE8833;}
.peachpuff4{background-color:#8B7765;}
.sandybrown_{background-color:#F4A460;}
.copper{background-color:#B87333;}
.tan1{background-color:#FFA54F;}
.gold6{background-color:#CD7F32;}
.ochre_{background-color:#CC7722;}
.darkorange2{background-color:#EE7600;}
.sand_{background-color:#FFCC99;}
.cafe_au_lait{background-color:#B67C3D;}
.yellowochre{background-color:#E38217;}
.latte{background-color:#9F703A;}
.light_copper{background-color:#EDC393;}
.sign_orange{background-color:#DD7500;}
.burlywood4{background-color:#8B7355;}
.carrot{background-color:#ED9121;}
.antiquewhite1{background-color:#FFEFDB;}
.burlywood3{background-color:#CDAA7D;}
.almond{background-color:#C48E48;}
.burlywood2{background-color:#EEC591;}
.eggshell{background-color:#FCE6C9;}
.antiquewhite4{background-color:#8B8378;}
.navajowhite4{background-color:#8B795E;}
.kumquat{background-color:#DC8909;}
.cinnamon_{background-color:#AA6600;}
.navajowhite_{background-color:#FFDEAD;}
.beach_sand{background-color:#EED6AF;}
.moccasin_{background-color:#FFE4B5;}
.wheat3{background-color:#CDBA96;}
.oldlace_{background-color:#FDF5E6;}
.orange2{background-color:#EE9A00;}
.orange_candy{background-color:#D5B77A;}
.gold7_{background-color:#FFAA00;}
.dark_wheat{background-color:#E8C782;}
.honey{background-color:#FEE5AC;}
.goldenrod_{background-color:#DAA520;}
.goldenrod2{background-color:#EEB422;}
.darkgoldenrod3{background-color:#CD950C;}
.semisweet_chocolate2{background-color:#E6B426;}
.bartlett_pear{background-color:#CDAB2D;}
.cornsilk_{background-color:#FFF8DC;}
.cornsilk2{background-color:#EEE8CD;}
.buttermilk{background-color:#FEF1B5;}
.light_goldenrod2{background-color:#EEDC82;}
.cornsilk4{background-color:#8B8878;}
.light_goldenrod{background-color:#EEDD82;}
.gold2{background-color:#EEC900;}
.gummi_yellow{background-color:#FBDB0C;}
.cadmiumlemon{background-color:#FFE303;}
.lemon{background-color:#D6C537;}
.yolk{background-color:#FFE600;}
.khaki4{background-color:#8B864E;}
.khaki2{background-color:#EEE685;}
.darkkhaki_{background-color:#BDB76B;}
.coconut{background-color:#FFFCCF;}
.pickle{background-color:#7B7922;}
.ivory4{background-color:#8B8B83;}
.ivory3{background-color:#CDCDC1;}
.darkolivegreen{background-color:#4F4F2F;}
.ganegreen_{background-color:#777733;}
.brightgold{background-color:#D9D919;}
.yellow4{background-color:#8B8B00;}
.yellow2_{background-color:#EEEE00;}
.popcornyellow_{background-color:#FFFFAA;}
.avocado{background-color:#98A148;}
.wasabi_sauce{background-color:#AEBB51;}
.key_lime_pie{background-color:#B3C95A;}
.chromeoxidegreen{background-color:#668014;}
.watermelon_rind{background-color:#54632C;}
.limepulp{background-color:#D4ED91;}
.avacado{background-color:#A2C257;}
.pea{background-color:#79973F;}
.yellowgreen_{background-color:#9ACD32;}
.melonrindgreen{background-color:#DFFFA5;}
.darkolivegreen3{background-color:#A2CD5A;}
.lizard{background-color:#5A6351;}
.romaine_lettuce{background-color:#3B5323;}
.chartreuse4{background-color:#458B00;}
.lawngreen_{background-color:#7CFC00;}
.soylent_green{background-color:#8BA870;}
.green_apple{background-color:#629632;}
.flight_jacket{background-color:#7F8778;}
.green_mist{background-color:#BCED91;}
.green_hornet{background-color:#6A8455;}
.green_pepper{background-color:#397D02;}
.forestgreen2{background-color:#567E3A;}
.guacamole{background-color:#A6D785;}
.pond_scum{background-color:#687E5A;}
.green_quartz{background-color:#8AA37B;}
.noble_fir{background-color:#476A34;}
.greenyellow{background-color:#93DB70;}
.kelly{background-color:#4CBB17;}
.Nerf_green{background-color:#49E20E;}
.leaf{background-color:#55AE3A;}
.mint_ice_cream{background-color:#C5E3BF;}
.camo2{background-color:#A9C9A4;}
.green_soap{background-color:#8CDD81;}
.tea_leaves{background-color:#5F755E;}
.wales{background-color:#4AC948;}
.darkseagreen4{background-color:#698B69;}
.palegreen4{background-color:#548B54;}
.darkseagreen3{background-color:#9BCD9B;}
.huntergreen{background-color:#215E21;}
.darkseagreen2{background-color:#B4EEB4;}
.pinegreen_{background-color:#003300;}
.green_{background-color:#008000;}
.green3{background-color:#00CD00;}
.parrotgreen_{background-color:#33FF33;}
.darkseagreen1{background-color:#C1FFC1;}
.green_MM{background-color:#4BB74C;}
.shamrock_shake{background-color:#B2D0B4;}
.emerald{background-color:#5B9C64;}
.permanent_green{background-color:#0AC92B;}
.pool_table{background-color:#31B94D;}
.eton_blue{background-color:#96C8A2;}
.celtics{background-color:#00611C;}
.LCD_back{background-color:#91B49C;}
.old_money{background-color:#337147;}
.shamrock{background-color:#40664D;}
.banker's_lamp{background-color:#0E8C3A;}
.cucumber{background-color:#2C5D3F;}
.neonavocado_{background-color:#00FF66;}
.emeraldgreen{background-color:#00C957;}
.octopus{background-color:#34925E;}
.isle_royale_greenstone{background-color:#426352;}
.starbucks_{background-color:#006633;}
.springgreen2{background-color:#00EE76;}
.lampblack{background-color:#2E473B;}
.packer_green{background-color:#213D30;}
.green_visor{background-color:#4D7865;}
.mediumspringgreen_{background-color:#00FA9A;}
.aquamarine4{background-color:#458B74;}
.medium_aquamarine3{background-color:#32CD99;}
.aquamarine_{background-color:#7FFFD4;}
.garden_hose{background-color:#138F6A;}
.blue_green_algae{background-color:#3B8471;}
.cooler{background-color:#284942;}
.green_ash{background-color:#668E86;}
.masters_jacket{background-color:#174038;}
.darkgreencopper{background-color:#4A766E;}
.mediterranean{background-color:#3E766D;}
.mint_blue{background-color:#DBFEF8;}
.atlantic_green{background-color:#2A8E82;}
.turquoise_{background-color:#40E0D0;}
.manganeseblue{background-color:#03A89E;}
.mouthwash{background-color:#01C5BB;}
.azure4{background-color:#838B8B;}
.paleturquoise4{background-color:#668B8B;}
.darkslategray_{background-color:#2F4F4F;}
.darkslategray4{background-color:#528B8B;}
.sgiteal{background-color:#388E8E;}
.light_blue{background-color:#8FD8D8;}
.medium_turquoise{background-color:#70DBDB;}
.darkslategray2{background-color:#8DEEEE;}
.darkcyan_{background-color:#008B8B;}
.cyan_{background-color:#00FFFF;}
.paleturquoise1_{background-color:#BBFFFF;}
.darkturquoise_{background-color:#00CED1;}
.turquoise3{background-color:#00C5CD;}
.swimming_pool{background-color:#67E6EC;}
.cadetblue4{background-color:#53868B;}
.cadetblue3{background-color:#7AC5CD;}
.cadetblue1{background-color:#98F5FF;}
.nypd_blue{background-color:#39B7CD;}
.robin's_egg{background-color:#C3E4ED;}
.light_blue3{background-color:#9AC0CD;}
.light_blue2{background-color:#B2DFEE;}
.deepskyblue3{background-color:#009ACD;}
.light_blue1{background-color:#BFEFFF;}
.skyblue_{background-color:#87CEEB;}
.caribbean{background-color:#42C0FB;}
.steelblue{background-color:#236B8E;}
.blue_line{background-color:#33A1DE;}
.blue_sponge{background-color:#5D92B1;}
.light_skyblue2{background-color:#A4D3EE;}
.light_skyblue1{background-color:#B0E2FF;}
.skyblue4{background-color:#4A708B;}
.skyblue1{background-color:#87CEFF;}
.blue_whale{background-color:#42647F;}
.steelblue2{background-color:#5CACEE;}
.steelblue4{background-color:#36648B;}
.slategray_{background-color:#708090;}
.lightslategrey_{background-color:#778899;}
.sgilight_blue{background-color:#7D9EC0;}
.dodgerblue2{background-color:#1C86EE;}
.dodgerblue_{background-color:#1E90FF;}
.seurat_blue{background-color:#739AC5;}
.blue_bucket{background-color:#499DF5;}
.cat_eye{background-color:#7AA9DD;}
.light_steelblue4{background-color:#6E7B8B;}
.denim{background-color:#4372AA;}
.blue_tuna{background-color:#687C97;}
.blue_bird{background-color:#4973AB;}
.light_steelblue2{background-color:#BCD2EE;}
.lake_ontario{background-color:#4D71A3;}
.blue_cow{background-color:#88ACE0;}
.parrot{background-color:#3579DC;}
.pollock_blue{background-color:#4D6FAC;}
.neptune{background-color:#6D9BF1;}
.blue_train{background-color:#3A5894;}
.blueberry_fresh{background-color:#5971AD;}
.royalblue4{background-color:#27408B;}
.royalblue2{background-color:#436EEE;}
.aluminum{background-color:#A9ACB6;}
.blue_grapes{background-color:#3B4990;}
.nikko_blue{background-color:#838EDE;}
.stained_glass{background-color:#2E37FE;}
.light_steelblue{background-color:#8F8FBC;}
.quartz{background-color:#D9D9F3;}
.medium_blue2{background-color:#3232CD;}
.midnightblue2_{background-color:#000033;}
.newmidnightblue{background-color:#00009C;}
.blue_{background-color:#0000FF;}
.cobalt_{background-color:#6666FF;}
.presidential_blue{background-color:#302B54;}
.dress_blue{background-color:#3B3178;}
.slateblue2{background-color:#7A67EE;}
.mediumslateblue_{background-color:#7B68EE;}
.medium_purple2{background-color:#9F79EE;}
.medium_purple1{background-color:#AB82FF;}
.indigo{background-color:#2E0854;}
.purple3{background-color:#7D26CD;}
.purple1{background-color:#9B30FF;}
.indigo_{background-color:#4B0082;}
.purple_rose{background-color:#5E2D79;}
.darkslateblue{background-color:#6B238E;}
.darkorchid_{background-color:#9932CC;}
.concord_grape{background-color:#660198;}
.wild_violet{background-color:#820BBB;}
.ultramarine_violet{background-color:#5C246E;}
.mediumorchid_{background-color:#BA55D3;}
.medium_orchid1{background-color:#E066FF;}
.cobaltvioletdeep{background-color:#91219E;}
.thistle4{background-color:#8B7B8B;}
.thistle_{background-color:#D8BFD8;}
.lavender_{background-color:#CC99CC;}
.thistle2{background-color:#EED2EE;}
.plum2{background-color:#EAADEA;}
.violet_{background-color:#EE82EE;}
.truepurple_{background-color:#990099;}
.magenta_{background-color:#FF00FF;}
.thistle1{background-color:#FFE1FF;}
.orchid_{background-color:#DA70D6;}
.purple_ink{background-color:#9C6B98;}
.purple_fish{background-color:#B272A6;}
.sea_urchin{background-color:#683A5E;}
.maroon6{background-color:#8E236B;}
.fuchsia2_{background-color:#FF00AA;}
.maroon3{background-color:#CD2990;}
.maroon2{background-color:#EE30A7;}
.dog_tongue{background-color:#F6A4D5;}
.barney{background-color:#D4318C;}
.deeppink2{background-color:#EE1289;}
.hotpink4{background-color:#8B3A62;}
.deeppurple{background-color:#551033;}
.hotpink1{background-color:#FF6EB4;}
.cranberry{background-color:#B6316C;}
.violetred2{background-color:#EE3A8C;}
.plum_pudding{background-color:#862A51;}
.pink_jeep{background-color:#E0427F;}
.maroonb0{background-color:#B03060;}
.palevioletred3{background-color:#CD6889;}
.palevioletred1{background-color:#FF82AB;}
.palevioletred2{background-color:#EE799F;}
.pink4{background-color:#8B636C;}
.pink1{background-color:#FFB5C5;}
.bright_red_{background-color:#FF0033;}
.pink_{background-color:#FFC0CB;}
.bordeaux{background-color:#99182C;}
.lightpink_{background-color:#FFB6C1;}
.light_pink3{background-color:#CD8C95;}
.apple{background-color:#CC4E5C;}
.ruby_red{background-color:#C82536;}
.alizarin_crimson{background-color:#E32636;}
.indianred{background-color:#B0171F;}
.venetianred{background-color:#D41A1F;}
.burntsienna{background-color:#551011;}
.gray2{background-color:#050505;}
.gray5{background-color:#0D0D0D;}
.gray8{background-color:#141414;}
.gray11{background-color:#1C1C1C;}
.gray14{background-color:#242424;}
.gray17{background-color:#2B2B2B;}
.gray20_{background-color:#333333;}
.gray23{background-color:#3B3B3B;}
.gray26{background-color:#424242;}
.gray29{background-color:#4A4A4A;}
.gray32{background-color:#525252;}
.gray35{background-color:#595959;}
.gray38{background-color:#616161;}
.dimgrey_{background-color:#696969;}
.gray43{background-color:#6E6E6E;}
.gray46{background-color:#757575;}
.gray49{background-color:#7D7D7D;}
.grey_{background-color:#808080;}
.gray53{background-color:#878787;}
.gray56{background-color:#8F8F8F;}
.gray59{background-color:#969696;}
.gray62{background-color:#9E9E9E;}
.gray65{background-color:#A6A6A6;}
.darkgrey_{background-color:#A9A9A9;}
.gray68{background-color:#ADADAD;}
.gray71{background-color:#B5B5B5;}
.gray74{background-color:#BDBDBD;}
.gray75{background-color:#BFBFBF;}
.gray78{background-color:#C7C7C7;}
.gray80_{background-color:#CCCCCC;}
.gray83{background-color:#D4D4D4;}
.gray84{background-color:#D6D6D6;}
.snow2{background-color:#EEE9E9;}
.salmon5{background-color:#6F4242;}
.indianred4{background-color:#8B3A3A;}
.indianred_{background-color:#CD5C5C;}
.brown4{background-color:#8B2323;}
.brown3{background-color:#CD3333;}
.strawberry{background-color:#BE2625;}
.firebrick3{background-color:#CD2626;}
.lightcoral_{background-color:#F08080;}
.firebrick2{background-color:#EE2C2C;}
.maroon_{background-color:#800000;}
.red2_{background-color:#EE0000;}
.novascotia_salmon_{background-color:#FF3333;}
.indianred1{background-color:#FF6A6A;}
.chili{background-color:#D44942;}
.red_delicious_apple{background-color:#9D1309;}
.piglet_snout{background-color:#ECC3BF;}
.mistyrose2{background-color:#EED5D2;}
.mistyrose4{background-color:#8B7D7B;}
.orangered{background-color:#FF2400;}
.tomato2{background-color:#EE5C42;}
.manatee_gray{background-color:#B0A6A4;}
.coral3{background-color:#CD5B45;}
.jonathan_apple{background-color:#B3432B;}
.nectarine_{background-color:#FF3300;}
.salmon3{background-color:#CD7054;}
.salmon1{background-color:#FF8C69;}
.fleshochre{background-color:#FF5721;}
.brown1{background-color:#8B2500;}
.orangered_{background-color:#FF4500;}
.light_salmon3{background-color:#CD8162;}
.maroon5{background-color:#691F01;}
.feldspar{background-color:#D19275;}
.burntsienna{background-color:#8A360F;}
.sienna1{background-color:#FF8247;}
.brownochre{background-color:#87421F;}
.ivoryblack{background-color:#292421;}
.apricot{background-color:#FBA16C;}
.mandarianorange{background-color:#E47833;}
.bakerschocolate{background-color:#5C3317;}
.tangerine{background-color:#FF7216;}
.darkwood{background-color:#855E42;}
.chocolate_{background-color:#D2691E;}
.chocolate1{background-color:#FF7F24;}
.seashell2{background-color:#EEE5DE;}
.marsyellow{background-color:#E3701A;}
.seashell4{background-color:#8B8682;}
.titanium{background-color:#B6AFA9;}
.peachpuff2{background-color:#EECBAD;}
.tan4{background-color:#8B5A2B;}
.coffee{background-color:#AA5303;}
.peru_{background-color:#CD853F;}
.linen_{background-color:#FAF0E6;}
.darkorange3{background-color:#CD6600;}
.darkorange1{background-color:#FF7F00;}
.cafe_americano{background-color:#362819;}
.melon{background-color:#E3A869;}
.bisque3{background-color:#CDB79E;}
.newtan{background-color:#EBC79E;}
.crema{background-color:#C76E06;}
.antiquewhite3{background-color:#CDC0B0;}
.cashew{background-color:#DFAE74;}
.bisque_{background-color:#FFE4C4;}
.beige_dark{background-color:#A39480;}
.antiquewhite2{background-color:#EEDFCC;}
.brick{background-color:#9C661F;}
.cool_copper{background-color:#D98719;}
.burlywood1{background-color:#FFD39B;}
.rawumber{background-color:#734A12;}
.navajowhite2{background-color:#EECFA1;}
.peach{background-color:#FEF0DB;}
.cheddar{background-color:#FFC469;}
.bronzeii{background-color:#A67D3D;}
.naplesyellowdeep{background-color:#FFA812;}
.bronze{background-color:#8C7853;}
.wheat_{background-color:#F5DEB3;}
.orange3{background-color:#CD8500;}
.wheat1{background-color:#FFE7BA;}
.organic_tea{background-color:#AC7F24;}
.floralwhite_{background-color:#FFFAF0;}
.packer_gold{background-color:#FCB514;}
.canvas{background-color:#9D8851;}
.goldenrod3{background-color:#CD9B1D;}
.darkgoldenrod_{background-color:#B8860B;}
.goldenrod1{background-color:#FFC125;}
.beer{background-color:#E5BC3B;}
.stainless_steel{background-color:#E0DFDB;}
.cornsilk3{background-color:#CDC8B1;}
.sign_yellow{background-color:#FCD116;}
.light_goldenrod3{background-color:#CDBE70;}
.light_goldenrod1{background-color:#FFEC8B;}
.banana{background-color:#E3CF57;}
.gold3{background-color:#CDAD00;}
.brass{background-color:#B5A642;}
.grapefruit{background-color:#F3E88E;}
.lemonchiffon2{background-color:#EEE9BF;}
.corn{background-color:#FBEC5D;}
.tank{background-color:#615E3F;}
.palegoldenrod_{background-color:#EEE8AA;}
.lemonchiffon4{background-color:#8B8970;}
.anjou_pear{background-color:#BAAF07;}
.yellow_candy{background-color:#EEEB8D;}
.blackberry{background-color:#3A3A38;}
.warmgrey{background-color:#808069;}
.wheat{background-color:#D8D8BF;}
.ivory2{background-color:#EEEEE0;}
.light_yellow2{background-color:#EEEED1;}
.goldenrod{background-color:#DBDB70;}
.olive_{background-color:#808000;}
.ralphyellow_{background-color:#CCCC00;}
.papaya{background-color:#FFFF7E;}
.fire_truck_green{background-color:#CDD704;}
.pear{background-color:#D1E231;}
.kermit{background-color:#A2BC13;}
.iceberg_lettuce{background-color:#CDE472;}
.jack_pine{background-color:#414F12;}
.chartreuse_verte{background-color:#BCE937;}
.sweet_potato_vine{background-color:#A2C93A;}
.jolly_green{background-color:#9CCB19;}
.olivedrab4{background-color:#698B22;}
.yellowgreen2{background-color:#99CC32;}
.olivedrab1{background-color:#C0FF3E;}
.darkolivegreen4{background-color:#6E8B3D;}
.darkolivegreen1{background-color:#CAFF70;}
.fenway_grass{background-color:#526F35;}
.kakapo{background-color:#4A7023;}
.chartreuse2{background-color:#76EE00;}
.kiwi{background-color:#7F9A65;}
.wet_moss{background-color:#3D5229;}
.limerind{background-color:#324F17;}
.palm{background-color:#608341;}
.od_green{background-color:#46523C;}
.mtn_dew_bottle{background-color:#577A3A;}
.neon_green{background-color:#83F52C;}
.lichen{background-color:#C0D9AF;}
.green_goo{background-color:#77896C;}
.royal_palm{background-color:#3F6826;}
.seaweed{background-color:#646F5E;}
.spinach{background-color:#435D36;}
.frog{background-color:#84BE6A;}
.circuit_board{background-color:#3A6629;}
.cantaloupe{background-color:#9CA998;}
.grass{background-color:#4DBD33;}
.snake{background-color:#596C56;}
.night_vision{background-color:#7BCC70;}
.green_lantern{background-color:#3D8B37;}
.green_algae{background-color:#63AB62;}
.honeydew3{background-color:#C1CDC1;}
.medium_seagreen{background-color:#426F42;}
.honeydew2{background-color:#E0EEE0;}
.palegreen3{background-color:#7CCD7C;}
.limegreen_{background-color:#32CD32;}
.palegreen_{background-color:#98FB98;}
.darkgreen_{background-color:#006400;}
.irish_flag_{background-color:#009900;}
.lime_{background-color:#00FF00;}
.palegreen1{background-color:#9AFF9A;}
.cobaltgreen{background-color:#3D9140;}
.fraser_fir{background-color:#4D6B50;}
.green_stamp{background-color:#517B58;}
.obsidian{background-color:#3D5B43;}
.springgreen_{background-color:#00FF33;}
.scotland_pound{background-color:#487153;}
.england_pound{background-color:#688571;}
.vanilla_mint{background-color:#B4D7BF;}
.aquamarine{background-color:#70DB93;}
.green_line{background-color:#329555;}
.green_party{background-color:#3E6B4F;}
.park_bench{background-color:#2E6444;}
.seagreen2{background-color:#4EEE94;}
.moon{background-color:#DBE6E0;}
.seagreen3{background-color:#43CD80;}
.go{background-color:#43D58C;}
.springgreen3{background-color:#00CD66;}
.brushed_aluminum{background-color:#B6C5BE;}
.army_men{background-color:#327556;}
.emeraldgreen2{background-color:#28AE7B;}
.bluegrass{background-color:#4C7064;}
.medium_aquamarine2{background-color:#32CC99;}
.seagreen_{background-color:#00FFAA;}
.coldgrey{background-color:#808A87;}
.green_card{background-color:#D0FAEE;}
.6_ball{background-color:#1B6453;}
.sign_green{background-color:#006B54;}
.liberty{background-color:#A4DCD1;}
.light_teal_{background-color:#00FFCC;}
.green_gables{background-color:#3E766D;}
.aquarium{background-color:#2FAA96;}
.malachite{background-color:#108070;}
.pacific_green{background-color:#36DBCA;}
.natural_turquoise{background-color:#45C3B8;}
.lightseagreen_{background-color:#20B2AA;}
.cool_mint{background-color:#90FEFB;}
.azure3{background-color:#C1CDCD;}
.darkslategrey_{background-color:#2F4F4F;}
.light_blue{background-color:#C0D9D9;}
.paleturquoise3{background-color:#96CDCD;}
.light_cyan2{background-color:#D1EEEE;}
.turquoise{background-color:#ADEAEA;}
.paleturquoise_{background-color:#AFEEEE;}
.teal_{background-color:#008080;}
.cyan2_{background-color:#00EEEE;}
.darkslategray1{background-color:#97FFFF;}
.azure_{background-color:#F0FFFF;}
.turquoise4{background-color:#00868B;}
.turquoise1{background-color:#00F5FF;}
.teal_LED{background-color:#05EDFF;}
.indiglo{background-color:#05E9FF;}
.cerulean{background-color:#05B8CC;}
.pastel_blue{background-color:#C1F0F6;}
.diamond_blue{background-color:#0EBFE9;}
.surf{background-color:#63D1F4;}
.lightblue_{background-color:#ADD8E6;}
.skyblue5_{background-color:#0099CC;}
.deepskyblue_{background-color:#00BFFF;}
.LCD_dark{background-color:#507786;}
.police_strobe{background-color:#0BB5FF;}
.carolina_blue{background-color:#539DC2;}
.topaz{background-color:#0198E1;}
.pacific_blue{background-color:#35586C;}
.liz_eyes{background-color:#325C74;}
.neon_blue{background-color:#67C8FF;}
.skyblue3{background-color:#6CA6CD;}
.skyblue2{background-color:#7EC0EE;}
.lake_huron{background-color:#5D7B93;}
.steelblue3{background-color:#4F94CD;}
.blue_dog{background-color:#525C65;}
.blue_ice{background-color:#74BBFB;}
.indigo_dye{background-color:#0D4F8B;}
.lightslategray_{background-color:#778899;}
.slategray3{background-color:#9FB6CD;}
.dodgerblue3{background-color:#1874CD;}
.slateblue{background-color:#007FFF;}
.heather_blue{background-color:#B7C3D0;}
.slategray2{background-color:#B9D3EE;}
.greek_roof{background-color:#3B6AA0;}
.sign_blue{background-color:#003F87;}
.light_steelblue3{background-color:#A2B5CD;}
.peafowl{background-color:#1D7CF2;}
.blue_stone{background-color:#50729F;}
.mailbox{background-color:#3063A5;}
.light_steelblue1{background-color:#CAE1FF;}
.blue_ridge_mtns{background-color:#4981CE;}
.big_blue_bus{background-color:#3A66A7;}
.blue_jeans{background-color:#42526C;}
.cornflowerblue_{background-color:#6495ED;}
.ulysses_butterfly{background-color:#1464F4;}
.alaska_sky{background-color:#1B3F8B;}
.cobalt{background-color:#3D59AB;}
.royalblue_{background-color:#4169E1;}
.royalblue1{background-color:#4876FF;}
.blue_velvet{background-color:#162252;}
.dolphin{background-color:#6F7285;}
.blue_nile{background-color:#7D7F94;}
.cornflowerblue{background-color:#42426F;}
.sgislate_blue{background-color:#7171C6;}
.medium_blue{background-color:#3232CC;}
.lavender_{background-color:#E6E6FA;}
.darkblue_{background-color:#00008B;}
.blue2_{background-color:#0000EE;}
.neonblue{background-color:#4D4DFF;}
.offwhiteblue_{background-color:#CCCCFF;}
.ultramarine{background-color:#120A8F;}
.slateblue4{background-color:#473C8B;}
.slateblue3{background-color:#6959CD;}
.slateblue1{background-color:#836FFF;}
.medium_purple4{background-color:#5D478B;}
.mediumpurple_{background-color:#9370DB;}
.blue_deep{background-color:#380474;}
.purple4{background-color:#551A8B;}
.purple2{background-color:#912CEE;}
.purple_rain{background-color:#694489;}
.purple{background-color:#A020F0;}
.purple_candy{background-color:#BDA0CB;}
.darkorchid{background-color:#9932CD;}
.darkorchid2{background-color:#B23AEE;}
.darkorchid1{background-color:#BF3EFF;}
.medium_orchid3{background-color:#B452CD;}
.grape_{background-color:#CC00FF;}
.violet{background-color:#8F5E99;}
.turnip{background-color:#A74CAB;}
.thistle3{background-color:#CDB5CD;}
.blueviolet{background-color:#9F5F9F;}
.sgibeet{background-color:#8E388E;}
.corfu_pink{background-color:#ECC8EC;}
.plum2{background-color:#EEAEEE;}
.darkmagenta_{background-color:#8B008B;}
.magenta2_{background-color:#EE00EE;}
.plum1_{background-color:#FFBBFF;}
.orchid3{background-color:#CD69C9;}
.orchid2{background-color:#EE7AE9;}
.pink_glass{background-color:#D3BECF;}
.rose_{background-color:#FF00CC;}
.pink_candy{background-color:#DCA2CD;}
.harold's_crayon{background-color:#B62084;}
.maroon4{background-color:#8B1C62;}
.mediumvioletred_{background-color:#C71585;}
.neonpink{background-color:#FF6EC7;}
.grape{background-color:#543948;}
.deeppink3{background-color:#CD1076;}
.amethyst{background-color:#9D6B84;}
.carnation{background-color:#DE85B1;}
.hotpink_{background-color:#FF69B4;}
.hotpink2{background-color:#EE6AA7;}
.violetred3{background-color:#CD3278;}
.hotpink3{background-color:#CD6090;}
.lavenderblush4{background-color:#8B8386;}
.smyrna_purple{background-color:#A2627A;}
.lavenderblush3{background-color:#CDC1C5;}
.pink_shell{background-color:#F6CCDA;}
.palevioletred4{background-color:#8B475D;}
.bunny_eye{background-color:#A5435C;}
.pink2{background-color:#EEA9B8;}
.cranberry_jello{background-color:#F54D70;}
.permanent_redviolet{background-color:#DB2645;}
.light_pink2{background-color:#EEA2AD;}
.peachpuff{background-color:#FFADB9;}
.black_beauty_plum{background-color:#422C2F;}
.light_pink1{background-color:#FFAEB9;}
.braeburn_apple{background-color:#BB2A3C;}
.red_coat{background-color:#B81324;}
.bermuda_sand{background-color:#F6C9CC;}
.conch{background-color:#D0A9AA;}
.cadmiumredlight{background-color:#FF030D;}
.rosemadder{background-color:#E33638;}
.gray1{background-color:#030303;}
.gray4{background-color:#0A0A0A;}
.gray7{background-color:#121212;}
.gray10{background-color:#1A1A1A;}
.gray13{background-color:#212121;}
.gray16{background-color:#292929;}
.gray19{background-color:#303030;}
.gray22{background-color:#383838;}
.gray25{background-color:#404040;}
.gray28{background-color:#474747;}
.gray31{background-color:#4F4F4F;}
.gray34{background-color:#575757;}
.gray37{background-color:#5E5E5E;}
.gray40_{background-color:#666666;}
.gray42{background-color:#6B6B6B;}
.gray45{background-color:#737373;}
.gray48{background-color:#7A7A7A;}
.gray50{background-color:#7F7F7F;}
.gray52{background-color:#858585;}
.gray55{background-color:#8C8C8C;}
.gray58{background-color:#949494;}
.gray61{background-color:#9C9C9C;}
.gray64{background-color:#A3A3A3;}
.gray66{background-color:#A8A8A8;}
.sgilight_gray_{background-color:#AAAAAA;}
.gray70{background-color:#B3B3B3;}
.gray73{background-color:#BABABA;}
.gray{background-color:#BEBEBE;}
.gray77{background-color:#C4C4C4;}
.verylight_grey{background-color:#CDCDCD;}
.gray82{background-color:#D1D1D1;}
.lightgrey_{background-color:#D3D3D3;}
.snow3{background-color:#CDC9C9;}
.dustyrose{background-color:#856363;}
.rosybrown3{background-color:#CD9B9B;}
.brown{background-color:#802A2A;}
.brown_{background-color:#A52A2A;}
.brown{background-color:#A62A2A;}
.rosybrown2{background-color:#EEB4B4;}
.firebrick_{background-color:#B22222;}
.scarlet{background-color:#8C1717;}
.brown2{background-color:#EE3B3B;}
.bloodred_{background-color:#660000;}
.red3{background-color:#CD0000;}
.firebrick1{background-color:#FF3030;}
.seattle_salmon_{background-color:#FF6666;}
.flatpink_{background-color:#FFCCCC;}
.bacon{background-color:#C65D57;}
.cadmiumreddeep{background-color:#E3170D;}
.cola{background-color:#AF4035;}
.bloodorange_{background-color:#CC1100;}
.mistyrose_{background-color:#FFE4E1;}
.red_roof{background-color:#C75D4D;}
.tomato3{background-color:#CD4F39;}
.tomato_{background-color:#FF6347;}
.tomato4{background-color:#8B3626;}
.coral1{background-color:#FF7256;}
.pummelo_pulp{background-color:#F5785A;}
.salmon4{background-color:#8B4C39;}
.salmon2{background-color:#EE8262;}
.darksalmon_{background-color:#E9967A;}
.soylent_red{background-color:#E04006;}
.orangered2{background-color:#EE4000;}
.light_salmon4{background-color:#8B5742;}
.kidney_bean{background-color:#B13E0F;}
.verydarkbrown{background-color:#5C4033;}
.sienna3{background-color:#CD6839;}
.orange5{background-color:#FF7D40;}
.tan{background-color:#DB9370;}
.orange_crush{background-color:#F87531;}
.vandykebrown{background-color:#5E2605;}
.marsorange{background-color:#964514;}
.semisweet_chocolate1{background-color:#6B4226;}
.orange_{background-color:#FF6600;}
.medium_wood{background-color:#A68064;}
.chocolate3{background-color:#CD661D;}
.chocolate2{background-color:#EE7621;}
.seashell3{background-color:#CDC5BF;}
.sign_brown{background-color:#603311;}
.cantaloupe_pulp{background-color:#FA9A50;}
.desert_sand{background-color:#FEE8D6;}
.peachpuff3{background-color:#CDAF95;}
.peachpuff_{background-color:#FFDAB9;}
.tan2{background-color:#EE9A49;}
.espresso{background-color:#E7C6A5;}
.gold5{background-color:#CC7F32;}
.darkorange4{background-color:#8B4500;}
.orange{background-color:#FF8000;}
.mocha_latte{background-color:#C9AF94;}
.goldochre{background-color:#C77826;}
.cinnamon{background-color:#7B3F00;}
.pistachio_shell{background-color:#EBCEAC;}
.pecan{background-color:#E18E2E;}
.darkorange5{background-color:#FF8600;}
.bisque2{background-color:#EED5B7;}
.darkorange_{background-color:#FF8C00;}
.bisque4{background-color:#8B7D6B;}
.tan_{background-color:#D2B48C;}
.burlywood_{background-color:#DEB887;}
.antiquewhite_{background-color:#FAEBD7;}
.cadmiumyellow{background-color:#FF9912;}
.cappuccino{background-color:#B28647;}
.navajowhite3{background-color:#CDB38B;}
.bread{background-color:#FCD59C;}
.aureolineyellow{background-color:#FFA824;}
.blanchedalmond_{background-color:#FFEBCD;}
.papayawhip_{background-color:#FFEFD5;}
.wheat4{background-color:#8B7E66;}
.wheat2{background-color:#EED8AE;}
.orange4{background-color:#8B5A00;}
.orange_{background-color:#FFA500;}
.sienna{background-color:#8E6B23;}
.cadmium_yellowlight{background-color:#FFB00F;}
.pyridiumorange{background-color:#F0A804;}
.darkgoldenrod1{background-color:#FFB90F;}
.goldenrod4{background-color:#8B6914;}
.darkgoldenrod4{background-color:#8B6508;}
.darkgoldenrod2{background-color:#EEAD0E;}
.golden_delicious_apple{background-color:#EDCB62;}
.mustard_{background-color:#FFCC11;}
.ash{background-color:#C6C3B5;}
.oldgold{background-color:#CFB53B;}
.light_goldenrod4{background-color:#8B814C;}
.pineapple{background-color:#FCDC3B;}
.sgibrightgray{background-color:#C5C1AA;}
.gold4{background-color:#8B7500;}
.gold_{background-color:#FFD700;}
.cream_city_brick{background-color:#E2DDB5;}
.lemonchiffon3{background-color:#CDC9A5;}
.khaki_{background-color:#F0E68C;}
.lemonchiffon_{background-color:#FFFACD;}
.khaki3{background-color:#CDC673;}
.khaki1{background-color:#FFF68F;}
.yellow_perch{background-color:#E0D873;}
.fog{background-color:#CBCAB6;}
.green_grape{background-color:#CECC15;}
.light_yellow4{background-color:#8B8B7A;}
.light_yellow3{background-color:#CDCDB4;}
.khaki{background-color:#9F9F5F;}
.sgiolivedrab{background-color:#8E8E38;}
.medium_goldenrod{background-color:#EAEAAE;}
.yellow3{background-color:#CDCD00;}
.yellow_{background-color:#FFFF00;}
.bone_{background-color:#FFFFCC;}
.soylent_yellow{background-color:#F4F776;}
.celery{background-color:#CFD784;}
.battleship{background-color:#D0D2C4;}
.breadfruit{background-color:#859C27;}
.safety_vest{background-color:#C8F526;}
.goldgreen_{background-color:#AADD00;}
.martini_olive{background-color:#8BA446;}
.cat_eye{background-color:#BEE554;}
.chrome{background-color:#E8F1D4;}
.olivedrab_{background-color:#6B8E23;}
.olivedrab2{background-color:#B3EE3A;}
.darkolivegreen_{background-color:#556B2F;}
.darkolivegreen2{background-color:#BCEE68;}
.cactus{background-color:#636F57;}
.pea{background-color:#78AB46;}
.chartreuse3{background-color:#66CD00;}
.chartreuse_{background-color:#7FFF00;}
.mint_candy{background-color:#9CBA7F;}
.tree_moss{background-color:#659D32;}
.broccoli{background-color:#586949;}
.holly{background-color:#488214;}
.camo1{background-color:#CFDBC5;}
.seaweed_roll{background-color:#748269;}
.camo3{background-color:#9DB68C;}
.cinnabargreen{background-color:#61B329;}
.douglas_fir{background-color:#3F602B;}
.green_cheese{background-color:#8FA880;}
.green_LED{background-color:#5DFC0A;}
.olive3b{background-color:#3B5E2B;}
.park_ranger{background-color:#484D46;}
.sapgreen{background-color:#308014;}
.green_moth{background-color:#7BBF6A;}
.green_grass_of_home{background-color:#395D33;}
.100_euro{background-color:#86C67C;}
.putting{background-color:#699864;}
.new_$20{background-color:#B7C8B6;}
.honeydew4{background-color:#838B83;}
.darkgreen{background-color:#2F4F2F;}
.darkseagreen_{background-color:#8FBC8F;}
.sgichartreuse{background-color:#71C671;}
.forestgreen_{background-color:#228B22;}
.light_green_{background-color:#90EE90;}
.dumpster{background-color:#004F00;}
.green4{background-color:#008B00;}
.green2_{background-color:#00EE00;}
.wasabi_{background-color:#66FF66;}
.offwhitegreen_{background-color:#CCFFCC;}
.viridianlight{background-color:#6EFF70;}
.gummi_green{background-color:#24D330;}
.green_taxi{background-color:#3F9E4D;}
.mint_green{background-color:#BDFCC9;}
.bottle_green{background-color:#1DA237;}
.clover{background-color:#3EA055;}
.truegreen{background-color:#00AF33;}
.Coke_bottle{background-color:#79A888;}
.aquaman{background-color:#37BC61;}
.pastel_green{background-color:#92CCA6;}
.pumice{background-color:#78A489;}
.blue_fern{background-color:#759B84;}
.seagreen_{background-color:#2E8B57;}
.seagreen1{background-color:#54FF9F;}
.mediumseagreen_{background-color:#3CB371;}
.fisherman's_float{background-color:#607C6E;}
.springgreen4{background-color:#008B45;}
.springgreen_{background-color:#00FF7F;}
.fresh_green{background-color:#5EDA9E;}
.ooze{background-color:#3E7A5E;}
.green_bark{background-color:#597368;}
.seagreen{background-color:#238E68;}
.mediumaquamarine_{background-color:#66CDAA;}
.aquamarine2{background-color:#76EEC6;}
.indigo2{background-color:#218868;}
.turquoiseblue{background-color:#00C78C;}
.electric_turquoise{background-color:#49E9BD;}
.turquoise{background-color:#0FDDAF;}
.greencopper{background-color:#527F76;}
.emerald_city{background-color:#20BF9F;}
.green_scrubs{background-color:#4F8E83;}
.blue_lagoon{background-color:#4CB7A5;}
.blue_ice{background-color:#DAF4F0;}
.army_uniform{background-color:#353F3E;}
.wavecrest{background-color:#99CDC9;}
.green_agate{background-color:#457371;}
.mediumturquoise_{background-color:#48D1CC;}
.light_cyan4{background-color:#7A8B8B;}
.light_cyan3{background-color:#B4CDCD;}
.cadetblue{background-color:#5F9F9F;}
.azure2{background-color:#E0EEEE;}
.darkslategray3{background-color:#79CDCD;}
.aqua_{background-color:#66CCCC;}
.paleturquoise2{background-color:#AEEEEE;}
.metallic_mint{background-color:#37FDFC;}
.cyan3{background-color:#00CDCD;}
.aqua_{background-color:#00FFFF;}
.lightcyan_{background-color:#E0FFFF;}
.cadetblue_{background-color:#5F9EA0;}
.turquoise2{background-color:#00E5EE;}
.fenway_monster{background-color:#4A777A;}
.old_copper{background-color:#73B1B7;}
.cadetblue2{background-color:#8EE5EE;}
.powderblue_{background-color:#B0E0E6;}
.lindsay_eyes{background-color:#65909A;}
.light_blue4{background-color:#68838B;}
.lake_michigan{background-color:#50A6C2;}
.deepskyblue4{background-color:#00688B;}
.deepskyblue2{background-color:#00B2EE;}
.peacock{background-color:#33A1C9;}
.summersky{background-color:#38B0DE;}
.blue_shark{background-color:#6996AD;}
.skyblue6{background-color:#3299CC;}
.light_skyblue4{background-color:#607B8B;}
.light_skyblue3{background-color:#8DB6CD;}
.blue_mist{background-color:#82CFFD;}
.lightskyblue_{background-color:#87CEFA;}
.cerulean_blue{background-color:#9BC4E2;}
.malta_blue{background-color:#517693;}
.steelblue_{background-color:#4682B4;}
.steelblue1{background-color:#63B8FF;}
.tropical_blue{background-color:#62B1F6;}
.aquamarine{background-color:#4E78A0;}
.slategrey_{background-color:#708090;}
.lake_erie{background-color:#6183A6;}
.dodgerblue4{background-color:#104E8B;}
.la_maison_bleue{background-color:#60AFFE;}
.slategray4{background-color:#6C7B8B;}
.blueberry{background-color:#75A1D0;}
.slategray1{background-color:#C6E2FF;}
.picasso_blue{background-color:#0276FD;}
.lake_superior{background-color:#506987;}
.blue_spider{background-color:#26466D;}
.blue_corn{background-color:#344152;}
.lightsteelblue_{background-color:#B0C4DE;}
.forget_me_nots{background-color:#7EB6FF;}
.blue_angels{background-color:#2B4F81;}
.chemical_suit{background-color:#5993E5;}
.blue_pill{background-color:#5190ED;}
.st_louis_blues{background-color:#2C5197;}
.natural_gas{background-color:#5B90F6;}
.darkturquoise{background-color:#7093DB;}
.ty_nant{background-color:#0147FA;}
.royalblue3{background-color:#3A5FCD;}
.cichlid{background-color:#003EFF;}
.delft{background-color:#22316C;}
.pabst_blue{background-color:#283A90;}
.silver{background-color:#E6E8FA;}
.midnightblue{background-color:#2F2F4F;}
.richblue{background-color:#5959AB;}
.navyblue{background-color:#23238E;}
.midnightblue_{background-color:#191970;}
.navy_{background-color:#000080;}
.mediumblue_{background-color:#0000CD;}
.royalblue_{background-color:#3333FF;}
.periwinkle_{background-color:#AAAAFF;}
.curacao{background-color:#5B59BA;}
.darkslateblue_{background-color:#483D8B;}
.slateblue_{background-color:#6A5ACD;}
.light_slateblue{background-color:#8470FF;}
.cornflower_{background-color:#3300FF;}
.medium_purple3{background-color:#8968CD;}
.blue_safe_{background-color:#6600FF;}
.medium_slateblue2{background-color:#7F00FF;}
.blueviolet_{background-color:#8A2BE2;}
.garden_plum{background-color:#71637D;}
.violet_flower{background-color:#BF5FFF;}
.indigo_tile{background-color:#72587F;}
.darkorchid4{background-color:#68228B;}
.darkorchid3{background-color:#9A32CD;}
.purple6_{background-color:#AA00FF;}
.darkviolet_{background-color:#9400D3;}
.medium_orchid4{background-color:#7A378B;}
.medium_orchid2{background-color:#D15FEE;}
.eggplant{background-color:#816687;}
.lavender_field{background-color:#754C78;}
.plum4{background-color:#8B668B;}
.violet{background-color:#4F2F4F;}
.plum3{background-color:#CD96CD;}
.plum_{background-color:#DDA0DD;}
.orchid{background-color:#DB70DB;}
.purple_{background-color:#800080;}
.magenta3{background-color:#CD00CD;}
.fuchsia_{background-color:#FF00FF;}
.orchid4{background-color:#8B4789;}
.orchid1{background-color:#FF83FA;}
.darkpurple{background-color:#871F78;}
.blue_corn_chips{background-color:#584E56;}
.thistle{background-color:#B5509C;}
.violetred{background-color:#CC3299;}
.spicypink{background-color:#FF1CAE;}
.violetred{background-color:#D02090;}
.maroon1{background-color:#FF34B3;}
.cotton_candy{background-color:#F7B3DA;}
.deeppink4{background-color:#8B0A50;}
.deeppink_{background-color:#FF1493;}
.raspberry{background-color:#872657;}
.orangered{background-color:#FF007F;}
.20_pound{background-color:#A46582;}
.violetred4{background-color:#8B2252;}
.violetred1{background-color:#FF3E96;}
.broadwaypink_{background-color:#FF0066;}
.bubble_gum{background-color:#FF92BB;}
.lavenderblush2{background-color:#EEE0E5;}
.palevioletred_{background-color:#DB7093;}
.lavenderblush_{background-color:#FFF0F5;}
.strawberry_smoothie{background-color:#EAB5C5;}
.pink3{background-color:#CD919E;}
.crimson_{background-color:#DC143C;}
.pink_cloud{background-color:#F6A8B6;}
.tongue{background-color:#E79EA9;}
.geraniumlake{background-color:#E31230;}
.light_pink4{background-color:#8B5F65;}
.ham{background-color:#DB9EA6;}
.passion_fruit{background-color:#55141C;}
.sign_red{background-color:#AF1E2D;}
.raspberry_red{background-color:#FA1D2F;}
.cherry{background-color:#EB5E66;}
.pomegranate{background-color:#F64D54;}
.madderlakedeep{background-color:#E32E30;}